/* Coolors Exported Palette - coolors.co/e25d0b-f6f7eb-393e41-eee0cb-baa898 */

/* HSL */
$color1: hsla(23%, 91%, 46%, 1);
$color2: hsla(65%, 43%, 95%, 1);
$color3: hsla(203%, 7%, 24%, 1);
$color4: hsla(36%, 51%, 86%, 1);
$color5: hsla(28%, 20%, 66%, 1);

/* RGB */
$color1: rgba(226, 93, 11, 1);
$color2: rgba(246, 247, 235, 1);
$color3: rgba(57, 62, 65, 1);
$color4: rgba(238, 224, 203, 1);
$color5: rgba(186, 168, 152, 1);