/* Coolors Exported Palette - coolors.co/263d7f-f18805-00120b-6b818c-f7fff7 */

/* HSL */
$color1: hsla(224%, 54%, 32%, 1);
$color2: hsla(33%, 96%, 48%, 1);
$color3: hsla(157%, 100%, 4%, 1);
$color4: hsla(200%, 13%, 48%, 1);
$color5: hsla(120%, 100%, 98%, 1);

/* RGB */
$color1: rgba(38, 61, 127, 1);
$color2: rgba(241, 136, 5, 1);
$color3: rgba(0, 18, 11, 1);
$color4: rgba(107, 129, 140, 1);
$color5: rgba(247, 255, 247, 1);