.about{

    &__info{
         margin-top: 50px;
         margin-bottom: 50px;
        @mixin atLarge{
            margin: 0;
        }
    }

    &__info-title{
        float: left;
        margin-right: 20px;
        font-weight: bold;

        p{
            color: $black;
            font-size: 1.75rem;
            padding-bottom: 10px;
            font-weight: 300;
        }
    }

    &__info-details{
        p{
            color: $grey;
            font-size: 16px;
            padding-bottom: 10px;
        }
    }

    &__signature{
        color: $green;
        font-family: 'Arizonia', cursive;
        font-size: 4rem;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &__extra{
        h4{
            text-transform: uppercase;
            color: $black;
            font-size: 1.75rem;
            margin-bottom: 2rem;
            font-weight: 300;
        }
    }

    &__extra-icons{
        ul{
            padding: 0;

            li{
                background-color: #f1f1f1;
                display: inline-block;
                float: left;
                margin: 0 10px 10px 0;
                width: 100px;

                p{
                    color: $grey;
                    font-size: 1.50rem;
                    font-weight: 500;
                    padding: 1.50rem;
                    text-align: center;

                    i{
                        font-size: 3rem;
                    }
                }
            }
        }
    }
}
