.resume{
    background-color: $whitesmoke;

    &__timeline{
       height: 100%;
    }

    &__timeline::after{
        content: '';
        display: none;
        position: absolute;
        top: 12px;
        left: 49.8%;
        width: 3px;
        height: 100%;
        background-color: $grey;
        z-index: 5;

        @mixin atMedium{
            display: block;
        }
    }

    &__timeline-category{
        text-align: center;
        position: relative;
        z-index: 6;
    }

    &__bt-timeline{
        display: inline-block;
        color: $white;
        font-weight: 500;
        text-align: center;
        border-radius: 5px;
        background: url("/assets/img/green-band.png");
        padding: 35px 25px 25px 25px;
        text-transform: uppercase;
        letter-spacing: 0;
        font-size: 1.5rem;

        @mixin atSmall{
            font-size: 2.5rem;
        }
    }

    &__bt-timeline:hover{
        color: $white !important;
    }

    &__timeline-category-icon{
        margin-top: 20px;
    }

    &__edu-category{
        clear: both;
    }

    &__iconspace{
        position: relative;
        width: 40px;
        height: 40px;
        text-align: center;
        margin: 0 auto;
        border-radius: 50%;
        background-color: $blue;
        z-index: 7;

        i{
            color: $white;
            line-height: 40px;
            font-size: 1.125rem;

            @mixin atSmall{
                font-size: 1.75rem;
            }
        }
    }

    &__iconspace-orange{
        background-color: $orange;
    }

    &__timeline-post-left{
        text-align: right;
    }

    &__timeline-post-right{
         text-align: left;
    }

    &__timeline-post{
        padding: 10px;
    }

    &__timeline-post-left &__timeline-post:first-child{
         margin-top: 20px;

        @mixin atSmall{
            margin-top: 65px;
        }
    }

    &__timeline-post-content-holder{
        padding: 15px;
    }

    &__timeline-post:hover &__timeline-post-content-holder{
        position: relative;
        border-radius: 5px;
        background-color: $white;
    }

    &__timeline-post-left > &__timeline-post > &__timeline-post-content-holder > &__timeline-post-icon{
        position: absolute;
        right: 0;
        background-color: $grey;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-right: -7px;
        z-index: 6;
        margin-top: 10px;
    }

    &__timeline-post-right > &__timeline-post > &__timeline-post-content-holder > &__timeline-post-icon{
         position: absolute;
         left: 0;
         background-color: $grey;
         width: 15px;
         height: 15px;
         border-radius: 50%;
         margin-left: -7px;
         z-index: 6;
         margin-top: 10px;
    }

    &__timeline-post-left > &__timeline-post:hover > &__timeline-post-content-holder > &__timeline-post-icon{
     position: absolute;
     right: 0;
     background-color: $green;
     width: 15px;
     height: 15px;
     border-radius: 50%;
     margin-right: -32px;
     z-index: 6;
     margin-top: 10px;
    }

    &__timeline-post-right > &__timeline-post:hover > &__timeline-post-content-holder > &__timeline-post-icon{
         position: absolute;
         left: 0;
         background-color: $green;
         width: 15px;
         height: 15px;
         border-radius: 50%;
         margin-left: -32px;
         z-index: 6;
         margin-top: 10px;
    }

    &__timeline-post-right > &__timeline-post:hover > &__timeline-post-content-holder::before{
        right: 100%;
        top: 13%;
        content: '';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border: 13px solid rgba(255, 255, 255, 0);
        border-right-color: $white;
        margin-top: -13px;
    }

    &__timeline-post-left > &__timeline-post:hover > &__timeline-post-content-holder::before{
         left: 100%;
         top: 13%;
         content: " ";
         height: 0;
         width: 0;
         position: absolute;
         pointer-events: none;
         border: 13px solid rgba(255, 255, 255, 0);
         border-left-color: $white;
         margin-top: -13px;
    }

    &__timeline-post-title{
        h4{
            color: $green;
            font-size: 22px;
            font-weight: 300;
        }
    }

    &__timeline-post-subtitle{
        p{
            color: $black;
            font-size: 18px;
            line-height: 28px;
            font-weight: 400;
        }
    }

    &__timeline-duration{
        position: relative;
        padding-left: 15px;
    }

    &__timeline-duration::before{
        content: '';
        position: absolute;
        display: inline-block;
         width: 5px;
         height: 5px;
         line-height: 1;
         background-color: $orange;
         left: 3px;
         margin-top: 12px;
         border-radius: 50%;
    }

    &__timeline-post-content{
         font-size: 16px;
         line-height: 28px;
    }

    &__timeline-end-icon{
        position: absolute;
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: $blue;
        color: $white;
        font-size: 18px;
        line-height: 40px;
        bottom: -20px;
        left: 48.3%;
        border-radius: 50%;
        text-align: center;
        margin: 0 auto;
        z-index: 6;
    }
}
