.section{
    padding: 6rem 0;
    position: relative;

    @mixin atSmall{
        padding: 9.375rem 0;
    }

    &-title{
        margin-bottom: 3.125rem;
        text-align: center;

        h2{
            text-transform: uppercase;
            color: $black;
            font-weight: 600;
            letter-spacing: 5px;
            line-height: 3.75rem;
            font-size: 2rem;

            @mixin atSmall{
                font-size: 3.75rem;
            }

            span{
                color: $green;
                font-weight: 200;
                letter-spacing: 2px;
            }
        }

        p{
            color: $grey;
            font-size: 16px;
            line-height: 23px;
            font-weight: 300;
            text-align: justify;
        }
    }
}

.title{
    margin-bottom: 50px;

    h1{
        text-transform: uppercase;
        color: $white;
        font-weight: 400;
        font-size: 2rem;

        @mixin atSmall{
            font-size: 3.75rem;
        }
    }
}

.border{
    display: block;
    margin: 20px auto;
    width: 100px;
    height: 1px;
    background-color: $green;

    @mixin atSmall{
        width: 200px;
    }
}
