.section{
    padding: 6rem 0;
    position: relative;

    @mixin atSmall{
        padding: 9.375rem 0;
    }

    &-title{
        margin-bottom: 3.125rem;
        text-align: center;

        h2{
            text-transform: uppercase;
            color: $blue;
            font-weight: 800;
            letter-spacing: 5px;
            line-height: 3.75rem;
            font-size: 2rem;

            @mixin atSmall{
                font-size: 3.75rem;
            }
        }

        p{
            color: $grey;
            font-size: 16px;
            line-height: 23px;
            font-weight: 300;
            text-align: justify;
        }
    }
}

.border{
    display: block;
    margin: 20px auto;
    width: 60px;
    height: 3px;
    background-color: $orange;
}
