.services__left{
    float: left;

    .services__icon{
        float: right;
        width: 85px;
        height: 85px;
        background-color: $whitesmoke;
        color: $black;
        border-radius: 5px;
        line-height: 85px;
        text-align: center;
        margin-left: 25px;
        font-size: 2.5rem;

        @mixin atSmall{
            font-size: 4rem;
        }
    }

    .services__content{
        text-align: right;
        padding-right: 110px;
    }
}

.services__right{
    float: right;

    .services__icon{
        float: left;
        width: 85px;
        height: 85px;
        background-color: $whitesmoke;
        color: $black;
        border-radius: 5px;
        line-height: 85px;
        text-align: center;
        margin-right: 25px;
        font-size: 2.5rem;

        @mixin atSmall{
            font-size: 4rem;
        }
    }

    .services__content{
        text-align: left;
        padding-left: 110px;
    }
}

.services{
    &__box{
        margin-bottom: 10px;
    }
}

.services__content{
    h3{
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.375rem;

        @mixin atSmall{
            font-size: 2rem;
        }
    }

    p{
        color: $grey;
        line-height: 28px;
        font-size: 16px;
    }
}

.services__box:hover i.services__icon{
    color: $white;
}
